

tr {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.description .box:hover {
    box-shadow: 0.3rem 0.5rem rgba(0,0,0,0.3);
}



.description .box p {
    color: #666;
    font-size: 1vw;
    padding:1rem 0;
    justify-content: center;

}

.description .box {
    /*padding: 2rem 1rem; */
    text-align: center;

    border: 0.2rem solid #0d9979;
    margin: 2rem;
    width: 10%;
    justify-content: center;
    height: 20%;

    cursor: pointer;
    background: #fff;

}

#detailsHeading h1 {
    position: center;
    justify-content: center;
    background-color: deeppink;
    display: flex;
}
#backButton button {
    margin: 2rem;
}

button:hover{
    color: #2AAA50;
    background:none;
    border:.1rem solid #2AAA50;
}


#moreButton {
    background: #2AAA50;
    border-color: #04AA6D;
    color: white;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.detailsButton {
    height:3.5rem;
    width:15rem;
    background: #2AAA50;
    /*border:.2rem solid var(--green); */
    color:white;
    border-color: #04AA6D ;

    font-size: 2rem;
    margin:1rem 0;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.box {
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    display: inline-block;
}


.description  {

    text-align: center;
    justify-content: center;

    overflow: hidden;

}


.description .box {
    background: #f0f0f0;
    text-align: center;
    justify-content: center;
    border-color: #04AA6D;
    overflow: hidden;

}

.description .box p {
    color: black;
}

#detailsHeader {

    text-align: center;
    margin-top: 0.5rem;
    font-weight: 900;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 .2rem black, 0 .2rem ;

}

body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background:  linear-gradient(to right, #25c481, #25b7c4);
    margin: 2rem;
}
