
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.adminTable {
    display: inline-block;
    justify-content: center;
}
.adminTable table {
    min-height: 55%;
}

.heading h1, h2 {
    margin: 1em 0 0.5em 0;
    text-align: center;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}

body {
    padding-top: 5rem;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    background: transparent;
}

#divNavBar {
    padding-bottom: 5rem;
}

#underOrderTable {
    padding-top: 0rem;
    padding-left: 6rem;
}

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);

}

.table1 {
    justify-content: center;
    padding: 5rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    font-weight: normal;
    border: none;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: transparent;    /* change nth row background color to another shade of  grey and not transparent*/
    position: relative;
    /*box-shadow: 0px 0px 36px 15px rgba(0,0,0,0.28);
    */
}


.table1 td, .table1 th {
    text-align: center;
    padding: 8px;
}

.table1 td {
    border-right: 1px solid #f8f8f8;
    font-size: 1.5rem;
    color: black;
}

.table1 thead{
    box-shadow: 0px 0px 36px 15px rgba(0,0,0,0.28);
}

.table1 thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table1 thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table1 tr:nth-child(even) {
    background: #808080;

}

.table1 tr:nth-child(odd) {
    background: #606060;

}

/* Responsive */

@media (max-width: 767px) {
    .table1 {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .table1 thead, .table1 tbody, .table1 thead th {
        display: block;
    }

    .table1 thead th:last-child {
        border-bottom: none;
    }

    .table1 thead {
        float: left;
    }

    .table1 tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .table1 td, .table1 th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .table1 thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .table1 tbody tr {
        display: table-cell;
    }

    .table1 tbody tr:nth-child(odd) {
        background: none;
    }

    .table1 tr:nth-child(even) {
        background: transparent;
    }

    .table1 tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .table1 tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .table1 tbody td {
        display: block;
        text-align: center;
    }
}
    #orderForm {
        display: none;
    }

